<div class="dashboard-container">
  <div class="dashboard-content">
    <app-levelbar
      [level]="userLevel"
      [progress]="userExperience / experienceForNextLevel * 100"
      [userExp]="userExperience"
      [userExpNextLevel]="experienceForNextLevel"></app-levelbar>
    <div *ngFor="let quest of quests">
      <app-quest
        [quest]="quest"
        (questCompleted)="onQuestCompleted(quest.id)"
        *ngIf="!quest.completed">
      </app-quest>
    </div>
  </div>
  <!-- In dashboard.component.html -->
  <div class="add-quest-icon" (click)="toggleAddQuestForm()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/></svg>
  </div>

  <app-add-quest *ngIf="showAddQuestForm"></app-add-quest>
</div>




